replicaCount: 1

image:
  repository: kumkammonteju/payment-service
  tag: latest  

imagePullPolicy: Always

service:
  type: LoadBalancer
  port: 5002

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

