replicaCount: 1

image:
  repository: kumkammonteju/user-service
  tag: latest  

imagePullPolicy: Always

service:
  type: LoadBalancer
  port: 5001

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

